<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group"><!-- wp:group {"align":"full","style":{"elements":{"link":{"color":{"text":"#7f7f7f"}}}},"backgroundColor":"white","textColor":"black","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignfull has-black-color has-white-background-color has-text-color has-background has-link-color"><!-- wp:group {"style":{"spacing":{"padding":{"top":"128px","bottom":"16px","left":"var:preset|spacing|30","right":"var:preset|spacing|30"}}}} -->
<div class="wp-block-group" style="padding-top:128px;padding-right:var(--wp--preset--spacing--30);padding-bottom:16px;padding-left:var(--wp--preset--spacing--30)"><!-- wp:site-title {"isLink":false,"style":{"typography":{"fontSize":"3rem","textTransform":"capitalize","letterSpacing":"0px","textDecoration":"none","fontStyle":"normal","fontWeight":"700"},"spacing":{"margin":{"bottom":"8px"}}}} /-->

<!-- wp:site-tagline {"style":{"typography":{"lineHeight":"1.4","fontSize":"1.4rem"},"spacing":{"margin":{"top":"8px"}}}} /-->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"#00000080"}}}}} -->
<p class="has-link-color"><a href="#">Instagram</a></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"#00000080"}}}}} -->
<p class="has-link-color"><a href="#">Blog</a></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"#00000080"}}}}} -->
<p class="has-link-color"><a href="#">TumbRRlr</a></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"#00000080"}}}}} -->
<p class="has-link-color"><a href="#">Twitter</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"right":"var:preset|spacing|60","left":"var:preset|spacing|60"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="padding-right:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--60)"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"bottom":"4em","top":"2em"}}},"layout":{"type":"flex","justifyContent":"space-between"}} -->
<div class="wp-block-group alignwide" style="padding-top:2em;padding-bottom:4em"><!-- wp:group {"layout":{"type":"flex"}} -->
<div class="wp-block-group"><!-- wp:site-logo {"width":60,"shouldSyncIcon":false} /-->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:site-title /-->

<!-- wp:site-tagline {"style":{"spacing":{"margin":{"top":"0px"}}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:navigation {"layout":{"type":"flex","setCascadingProperties":true,"justifyContent":"right"}} -->
<!-- wp:navigation-link {"label":"About","url":"#","isTopLevelLink":true} /-->

<!-- wp:navigation-link {"label":"Home","url":"#","isTopLevelLink":true} /-->

<!-- wp:navigation-link {"label":"Contact","url":"#","isTopLevelLink":true} /-->
<!-- /wp:navigation --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:media-text {"align":"full","mediaId":3299,"mediaLink":"https://dotcompatterns.wordpress.com/pattern-camera/","mediaType":"image","imageFill":true,"backgroundColor":"white"} -->
<div class="wp-block-media-text alignfull is-stacked-on-mobile is-image-fill has-white-background-color has-background"><figure class="wp-block-media-text__media" style="background-image:url(https://dotcompatterns.files.wordpress.com/2021/01/pattern-camera.jpg?w=964);background-position:50% 50%"><img src="https://dotcompatterns.files.wordpress.com/2021/01/pattern-camera.jpg?w=964" alt="" class="wp-image-3299 size-full" /></figure><div class="wp-block-media-text__content"><!-- wp:cover {"overlayColor":"white","minHeight":95,"minHeightUnit":"vh","isDark":false} -->
<div class="wp-block-cover is-light" style="min-height:95vh"><span aria-hidden="true" class="wp-block-cover__background has-white-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|black"}}}},"textColor":"black","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group has-black-color has-text-color has-link-color"><!-- wp:image {"align":"center","id":17,"width":-297,"height":-395,"sizeSlug":"large","linkDestination":"none","className":"is-style-rounded"} -->
<figure class="wp-block-image aligncenter size-large is-resized is-style-rounded"><img src="https://rudrakshportfio.files.wordpress.com/2023/05/img-20200413-wa0027.jpg?w=768" alt="" class="wp-image-17" width="-297" height="-395" /></figure>
<!-- /wp:image -->

<!-- wp:site-title {"textAlign":"center","isLink":false,"style":{"typography":{"fontSize":"3rem","textTransform":"capitalize","letterSpacing":"0px","textDecoration":"none"}}} /-->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Hello! I am a  Full Stack Web Developer and designer. Also i have skills in the animation and graphics and photography  </p>
<!-- /wp:paragraph -->

<!-- wp:social-links {"iconColor":"black","iconColorValue":"#000000","className":"is-style-logos-only","layout":{"type":"flex","justifyContent":"center"}} -->
<ul class="wp-block-social-links has-icon-color is-style-logos-only"><!-- wp:social-link {"url":"https://www.instagram.com/direct/t/340282366841710300949128190304419443935?theme=dark","service":"instagram"} /-->

<!-- wp:social-link {"url":"https://youtube.com","service":"youtube"} /-->

<!-- wp:social-link {"service":"wordpress"} /-->

<!-- wp:social-link {"url":"https://www.linkedin.com/in/rudraksh-paliwal-316b7818b/","service":"linkedin"} /-->

<!-- wp:social-link {"url":"https://github.com/edithkaren","service":"github"} /--></ul>
<!-- /wp:social-links --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:group {"align":"full","style":{"spacing":{"blockGap":"80px"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center","flexWrap":"nowrap"}} -->
<div class="wp-block-group alignfull"><!-- wp:columns {"align":"full","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"0px"}}} -->
<div class="wp-block-columns alignfull" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:column {"verticalAlignment":"bottom"} -->
<div class="wp-block-column is-vertically-aligned-bottom"><!-- wp:group {"style":{"spacing":{"margin":{"top":"80px","bottom":"80px"},"padding":{"top":"0px","right":"60px","bottom":"0px","left":"60px"}}}} -->
<div class="wp-block-group" style="margin-top:80px;margin-bottom:80px;padding-top:0px;padding-right:60px;padding-bottom:0px;padding-left:60px"><!-- wp:paragraph -->
<p>2021</p>
<!-- /wp:paragraph -->

<!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading -->
<h2 class="wp-block-heading">Project 1</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Portfolio using Django</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>View Project</strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:image {"id":9831,"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="https://dotcompatterns.files.wordpress.com/2023/03/mountains_square.jpeg" alt="" class="wp-image-9831" /></figure>
<!-- /wp:image --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"align":"full","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"0px"}}} -->
<div class="wp-block-columns alignfull" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:image {"id":9831,"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="https://dotcompatterns.files.wordpress.com/2023/03/mountains_square.jpeg" alt="" class="wp-image-9831" /></figure>
<!-- /wp:image --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"bottom"} -->
<div class="wp-block-column is-vertically-aligned-bottom"><!-- wp:group {"style":{"spacing":{"margin":{"top":"80px","bottom":"80px"},"padding":{"top":"0px","right":"60px","bottom":"0px","left":"60px"}}}} -->
<div class="wp-block-group" style="margin-top:80px;margin-bottom:80px;padding-top:0px;padding-right:60px;padding-bottom:0px;padding-left:60px"><!-- wp:paragraph -->
<p>2021</p>
<!-- /wp:paragraph -->

<!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading -->
<h2 class="wp-block-heading">Project 2</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Modern and colorful living room for Alan and Rachel Bryant.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>View Project</strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div></div>
<!-- /wp:media-text -->

<!-- wp:cover {"url":"https://dotcompatterns.files.wordpress.com/2020/05/water-journal-ebuaknsm8zw-unsplash-edit.jpg","id":7222,"dimRatio":0,"minHeight":840,"minHeightUnit":"px","contentPosition":"center left","isDark":false,"align":"full","style":{"spacing":{"padding":{"top":"7vw","right":"7vw","bottom":"7vw","left":"7vw"}}}} -->
<div class="wp-block-cover alignfull is-light has-custom-content-position is-position-center-left" style="padding-top:7vw;padding-right:7vw;padding-bottom:7vw;padding-left:7vw;min-height:840px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span><img class="wp-block-cover__image-background wp-image-7222" alt="" src="https://dotcompatterns.files.wordpress.com/2020/05/water-journal-ebuaknsm8zw-unsplash-edit.jpg" data-object-fit="cover" /><div class="wp-block-cover__inner-container"><!-- wp:group {"style":{"elements":{"link":{"color":{"text":"#414141"}}},"color":{"text":"#414141"}},"layout":{"contentSize":"500px","type":"constrained"}} -->
<div class="wp-block-group has-text-color has-link-color" style="color:#414141"><!-- wp:paragraph {"style":{"typography":{"lineHeight":"1","fontStyle":"normal","fontWeight":"700","fontSize":"80px"}}} -->
<p style="font-size:80px;font-style:normal;font-weight:700;line-height:1">Coming Soon</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Come back here when our journey begins.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>A1, Billingshurst<br>RH12 1GP</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><a rel="noreferrer noopener" href="mailto:hello@example.com" target="_blank">hello@example.com</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|80","right":"var:preset|spacing|80","bottom":"var:preset|spacing|80","left":"var:preset|spacing|80"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="padding-top:var(--wp--preset--spacing--80);padding-right:var(--wp--preset--spacing--80);padding-bottom:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--80)"><!-- wp:group {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|70"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group" style="margin-bottom:var(--wp--preset--spacing--70)"><!-- wp:heading {"textAlign":"center"} -->
<h2 class="wp-block-heading has-text-align-center">Contact Us</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">We'd love to hear from you! Drop us a line below and we'll do our best to get back to you within one business day.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:jetpack/contact-form {"subject":"Contact form submission","to":"","style":{"spacing":{"padding":{"top":"16px","right":"16px","bottom":"16px","left":"16px"}}}} -->
<div class="wp-block-jetpack-contact-form" style="padding-top:16px;padding-right:16px;padding-bottom:16px;padding-left:16px"><!-- wp:jetpack/field-name {"label":"First Name","required":true,"requiredText":"(required)","width":50} /-->

<!-- wp:jetpack/field-name {"label":"Last Name","required":true,"requiredText":"(required)","width":50} /-->

<!-- wp:jetpack/field-email {"required":true,"requiredText":"(required)"} /-->

<!-- wp:jetpack/field-textarea {"label":"Message","requiredText":"(required)"} /-->

<!-- wp:jetpack/button {"element":"button","text":"Contact Us","align":"center","lock":{"remove":true}} /--></div>
<!-- /wp:jetpack/contact-form --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"elements":{"link":{"color":{"text":"#ffffff"}}},"spacing":{"padding":{"top":"7vw","bottom":"7vw","right":"var:preset|spacing|60","left":"var:preset|spacing|60"},"margin":{"top":"0px","bottom":"0px"}},"color":{"text":"#ffffff"}},"backgroundColor":"foreground","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignfull has-foreground-background-color has-text-color has-background has-link-color" style="color:#ffffff;margin-top:0px;margin-bottom:0px;padding-top:7vw;padding-right:var(--wp--preset--spacing--60);padding-bottom:7vw;padding-left:var(--wp--preset--spacing--60)"><!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:heading {"level":4,"style":{"typography":{"fontSize":"19px","lineHeight":"1.474"},"spacing":{"margin":{"top":"0px","right":"0px","bottom":"32px","left":"0px"}}},"className":"wp-block-heading","anchor":"need-a-help"} -->
<h4 class="wp-block-heading" id="need-a-help" style="margin-top:0px;margin-right:0px;margin-bottom:32px;margin-left:0px;font-size:19px;line-height:1.474"><strong>Need help?</strong></h4>
<!-- /wp:heading -->

<!-- wp:navigation {"layout":{"type":"flex","orientation":"vertical"},"style":{"typography":{"fontSize":"14px","lineHeight":"1.429"},"spacing":{"blockGap":"8px"}}} -->
<!-- wp:navigation-link {"label":"About","url":"#","isTopLevelLink":true} /-->

<!-- wp:navigation-link {"label":"Home","url":"#","isTopLevelLink":true} /-->

<!-- wp:navigation-link {"label":"Contact","url":"#","isTopLevelLink":true} /-->
<!-- /wp:navigation --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:heading {"level":4,"style":{"typography":{"fontSize":"19px","lineHeight":"1.474"},"spacing":{"margin":{"top":"0px","right":"0px","bottom":"32px","left":"0px"}}},"className":"wp-block-heading","anchor":"get-in-touch"} -->
<h4 class="wp-block-heading" id="get-in-touch" style="margin-top:0px;margin-right:0px;margin-bottom:32px;margin-left:0px;font-size:19px;line-height:1.474"><strong>Get in touch</strong></h4>
<!-- /wp:heading -->

<!-- wp:group {"style":{"spacing":{"blockGap":"8px"}}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontSize":"14px","lineHeight":"1.429"}}} -->
<p style="font-size:14px;line-height:1.429">PU-4, Behind C-21 Mall, VijayNagar, Indore </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>https://elegant-squirrel-f8ae8e.netlify.app/</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"style":{"typography":{"fontSize":"14px","lineHeight":"1.429"}}} -->
<p style="font-size:14px;line-height:1.429">+91 6266629189</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:heading {"level":4,"style":{"typography":{"fontSize":"19px","lineHeight":"1.474"},"spacing":{"margin":{"top":"0px","right":"0px","bottom":"32px","left":"0px"}}},"className":"wp-block-heading","anchor":"follow-us"} -->
<h4 class="wp-block-heading" id="follow-us" style="margin-top:0px;margin-right:0px;margin-bottom:32px;margin-left:0px;font-size:19px;line-height:1.474"><strong>Follow us</strong></h4>
<!-- /wp:heading -->

<!-- wp:social-links {"customIconColor":"#ffffff","iconColorValue":"#ffffff","openInNewTab":true,"size":"has-normal-icon-size","style":{"spacing":{"blockGap":"16px"}},"className":"is-style-logos-only"} -->
<ul class="wp-block-social-links has-normal-icon-size has-icon-color is-style-logos-only"><!-- wp:social-link {"url":"https://facebook.com/","service":"facebook"} /-->

<!-- wp:social-link {"url":"https://instagram.com/","service":"instagram"} /-->

<!-- wp:social-link {"url":"https://twitter.com/","service":"twitter"} /-->

<!-- wp:social-link {"url":"https://youtube.com/","service":"youtube"} /-->

<!-- wp:social-link {"url":"https://pinterest.com/","service":"pinterest"} /--></ul>
<!-- /wp:social-links --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:heading {"level":4,"style":{"typography":{"fontSize":"19px","lineHeight":"1.474"},"spacing":{"margin":{"top":"0px","right":"0px","bottom":"32px","left":"0px"}}},"className":"wp-block-heading","anchor":"subscribe-to-newsletter"} -->
<h4 class="wp-block-heading" id="subscribe-to-newsletter" style="margin-top:0px;margin-right:0px;margin-bottom:32px;margin-left:0px;font-size:19px;line-height:1.474"><strong>Subscribe to newsletter</strong></h4>
<!-- /wp:heading -->

<!-- wp:jetpack/subscriptions {"buttonOnNewLine":true,"buttonWidth":"50%","buttonBackgroundColor":"foreground","customTextColor":"#ffffff","fontSize":"14px","customFontSize":"14px","customBorderColor":"#ffffff","padding":8} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"4em"}}},"layout":{"type":"default"},"fontSize":"small"} -->
<div class="wp-block-group alignwide has-small-font-size" style="margin-top:4em"><!-- wp:paragraph {"align":"right","style":{"spacing":{"margin":{"top":"4em"}}},"fontSize":"small"} -->
<p class="has-text-align-right has-small-font-size" style="margin-top:4em">Proudly Powered by&nbsp;<a href="https://wordpress.org/">WordPress</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->